#sobre {
    padding: 50px 15px;
}

#sobre .flex-container {
    flex-direction: column;
    max-width: 800px;
}

#sobre h2 {
    color: #fff;
    text-align: center;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 30px;
}

#sobre p {
    color: #fff;
    text-align: center;
    margin-bottom: 8px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}